.carousel-text {
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco semitransparente */
  color: black;
  text-align: center;
}

.carousel-indicators .active {
  background-color: #888; 
}

.carousel-item img {
  width: 100%;
  height: auto;
  max-width: 512px; /* Ajusta el tamaño máximo de la imagen si es necesario */
  max-height: 512px; /* Ajusta el tamaño máximo de la imagen si es necesario */
  object-fit: cover; /* Asegura que la imagen cubra el área del contenedor */
}

.carousel {
  max-width: 512px; /* Ajusta el tamaño máximo del contenedor del carrusel si es necesario */
  margin: 0 auto; /* Centra el carrusel horizontalmente */
}

/* Flecha izquierda */
.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23222222' viewBox='0 0 16 16'%3E%3Cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L6.707 7l4.647 4.646a.5.5 0 0 1-.708.708l-5-5a.5.5 0 0 1 0-.708l5-5a.5.5 0 0 1 .708 0z'/%3E%3C/svg%3E");
  filter: brightness(0.6); /* Ajusta la oscuridad de la flecha */
}

/* Flecha derecha */
.carousel-control-next-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23222222' viewBox='0 0 16 16'%3E%3Cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l5 5a.5.5 0 0 1 0 .708l-5 5a.5.5 0 0 1-.708-.708L9.293 8 4.646 3.354a.5.5 0 0 1 0-.708z'/%3E%3C/svg%3E");
  filter: brightness(0.6); /* Ajusta la oscuridad de la flecha */
}
