/* Estilos globales */
body {
  background-color: #f8f9fa; /* Fondo gris claro */
  font-family: Arial, sans-serif;
}

.container {
  padding: 20px;
}

.centered-content {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

/* Estilos de la barra de navegación */
.navbar {
  background-color: #343a40; /* Fondo oscuro */
}

.navbar-brand {
  color: #ffffff !important; /* Texto blanco */
}

.navbar-nav .nav-link {
  color: #ffffff !important; /* Texto blanco */
}

.navbar-nav .nav-link:hover {
  color: #adb5bd !important; /* Color gris claro al pasar el ratón */
}

/* Estilos para las páginas */
h1 {
  color: #343a40; /* Color del texto del encabezado */
  margin-bottom: 20px;
}

p {
  color: #6c757d; /* Color gris para el texto */
}

/* Estilos para el contenedor de contenido */
.centered-content {
  text-align: center; /* Centrar el texto */
}
