/* Estilos globales */
body {
  background-color: #f8f9fa; /* Fondo gris claro */
  font-family: Arial, sans-serif;
}

.container {
  padding: 20px;
}

.centered-content {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

/* Estilos de la barra de navegación */
.navbar {
  background-color: #343a40; /* Fondo oscuro */
}

.navbar-brand {
  color: #ffffff !important; /* Texto blanco */
}

.navbar-nav .nav-link {
  color: #ffffff !important; /* Texto blanco */
}

.navbar-nav .nav-link:hover {
  color: #adb5bd !important; /* Color gris claro al pasar el ratón */
}

/* Estilos para las páginas */
h1 {
  color: #343a40; /* Color del texto del encabezado */
  margin-bottom: 20px;
}

p {
  color: #6c757d; /* Color gris para el texto */
}

/* Estilos para el contenedor de contenido */
.centered-content {
  text-align: center; /* Centrar el texto */
}

.custom-brand {
  margin-left: 20px; /* Ajusta el valor según lo necesario */
  font-family: 'Indie Flower', cursive; /* La fuente manuscrita que usaremos de Google Fonts */
}

@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

.custom-toggler {
  margin-right: 5px;
  border: 1px solid white;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
